/*========== Color ==========*/
$primari-color: red;
$secondary-color: green;

/*========== Font Size ==========*/
$text-xl: 32px;
$text-lg: 26px;
$text-md: 22px;
$text-sm: 16px;
$text-xs: 12px;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========== Hover overlay ==========*/
$img-transition: all .3s;
$img-hidden: hidden;
$img-scale: scale(1.1);

/*========== Border ==========*/
$border-radius-1: 0.5rem;
$border-radius-2: 1rem;